<%- include('header') %>

<div class="top-container-image mb-5 pt-5">
    <div class="container profile-form-container col-md-8 pt-5">
        <div class="pt-5">
            <div class="card profile-card px-3 py-2">
                <div class="card-body">
                    <div class="row align-items-center">

                        <h4 class="profile-header-text mb-3 ">Profile Info</h4>

                        <% if (warningMessage && warningMessage.length > 0) { %>
                            <div class="alert alert-warning">
                                <%= warningMessage %>
                            </div>
                        <% } %>

                        <% if (successMessage && successMessage.length > 0) { %>
                            <div class="alert alert-success">
                                <%= successMessage %>
                            </div>
                        <% } %>

                        <div class="mb-3">
                            <label class="profile-text" for="solana_wallet">Solana Wallet</label>
                            <div class="row input-group justify-content-center">
                                    <p class="h6 text-warning" id="solana_wallet"><%= userWallet %></p>
                            </div>
                        </div>

                        <form id="profile" method="POST" action="/profile">
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label class="profile-text" for="firstName">First name</label>
                                    <input name="first_name" type="text" class="form-control" id="firstName"
                                           placeholder="John" value="<%= userData['First Name'] %>">
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label class="profile-text" for="lastName">Last name</label>
                                    <input name="last_name" type="text" class="form-control" id="lastName"
                                           placeholder="Johnson" value="<%= userData['Last Name'] %>">
                                </div>
                            </div>

                            <div class="mb-3">
                                <label class="profile-text" for="username">Username</label>
                                <div class="input-group">
                                    <input name="username" type="text" class="form-control" id="username"
                                           placeholder="your_nickname" value="<%= userData['Username'] %>">
                                </div>
                            </div>

                            <div class="mb-3">
                                <label class="profile-text" for="email">Email</label>
                                <input name="email" type="email" class="form-control" id="email"
                                       placeholder="you@example.com" value="<%= userData['Email'] %>">
                            </div>

                            <button class="btn btn-info btn-md btn-block" type="submit">Save profile info</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('footer') %>